spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: user-service-route
          uri: lb://USER-SERVICE
          predicates:
            - Path=/api/users/**
        - id: welfare-service-route
          uri: lb://WELFARE-SERVICE
          predicates:
            - Path=/api/welfare/**
        - id: board-service-route
          uri: lb://BOARD-SERVICE
          predicates:
            - Path=/api/board/**
        - id: swagger-user-docs
          uri: lb://USER-SERVICE
          predicates:
            - Path=/api/users/v3/api-docs
        - id: swagger-board-docs
          uri: lb://BOARD-SERVICE
          predicates:
            - Path=/api/board/v3/api-docs
        - id: swagger-welfare-docs
          uri: lb://WELFARE-SERVICE
          predicates:
            - Path=/api/welfare/v3/api-docs


server:
  port: 8080

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://discovery:8761/eureka

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always

cors:
  allowed-origins: "*"
  allowed-methods: "GET,POST,PUT,DELETE,OPTIONS"
  allowed-headers: "*"
  max-age: 3600

jwt:
  key: ${JWT_KEY}

exclude-auth-path-patterns:
  paths:
    - path-pattern: /api/users/sign-up
      method: POST
    - path-pattern: /api/users/login
      method: POST
    - path-pattern: /actuator/**
      method: GET
    - path-pattern: /actuator/**
      method: POST
    - path-pattern: /swagger-ui/**
      method: GET
    - path-pattern: /v3/api-docs/**
      method: GET
    - path-pattern: /swagger-ui.html
      method: GET
    - path-pattern: /webjars/**
      method: GET
    - path-pattern: /api/users/v3/api-docs
      method: GET
    - path-pattern: /api/welfare/v3/api-docs
      method: GET
    - path-pattern: /api/board/v3/api-docs
      method: GET

springdoc:
  swagger-ui:
    use-root-path: true
    urls:
      - name: 회원 서비스
        url: /api/users/v3/api-docs
      - name: 커뮤니티 서비스
        url: /api/board/v3/api-docs
      - name: 복지 서비스
        url: /api/welfare/v3/api-docs
  api-docs:
    enabled: true
    path: /v3/api-docs

