spring:
  application:
    name: user-service
  data:
    mongodb:
      host: mongodb
      port: 27017
      database: ${DB_NAME}
      username: ${DB_USERNAME}
      password: ${DB_PASSWORD}
      authentication-database: admin

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://discovery:8761/eureka
  instance:
    instance-id: ${spring.cloud.client.ip-address}:${spring.application.instance_id:${random.value}}
    prefer-ip-address: true

server:
  port: 8081

jwt:
  key: ${JWT_KEY}
  access:
    expiration: ${ACCESS_EXP}

exclude-auth-path-patterns:
  paths:
    - path-pattern: /api/users/sign-up
      method: POST
    - path-pattern: /api/users/login
      method: POST
    - path-pattern: /api/users/validate
      method: GET
    - path-pattern: /actuator/**
      method: GET
    - path-pattern: /actuator/**
      method: POST
    - path-pattern: /swagger-ui/**
      method: GET
    - path-pattern: /v3/api-docs/**
      method: GET
    - path-pattern: /swagger-ui.html
      method: GET
    - path-pattern: /webjars/**
      method: GET
    - path-pattern: /api/users/v3/api-docs
      method: GET


logging:
  pattern:
    level: '%5p [${spring.application.name:},%X{traceId:-},%X{spanId:-}]'

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
  tracing:
    enabled: true
    sampling:
      probability: 1.0
  zipkin:
    tracing:
      endpoint: http://zipkin:9411/api/v2/spans

springdoc:
  api-docs:
    path: /api/users/v3/api-docs  # 기본값이지만 명시적으로 설정해두는 게 좋음
  swagger-ui:
    path: /swagger-ui.html  # Swagger UI 직접 접근 경로